/* {
    color: black;
    background-color: #ffffff;
}*/

/* LOGIN PAGE STYLES */


/*.login-page-image-container {
    position: relative;
    width: 100%;
}*/
.login-page-top {
    position: relative;
}
.bg-picture{
    background-image: url(https://images.pexels.com/photos/1587927/pexels-photo-1587927.jpeg?auto%3Dcompress%26cs%3Dtinysrgb%26w%3D600);
    width: 100vw;
    height: 50vw;
}
.login-form {
    width: 20%;
    margin-top: 23%;
}
#carouselExample{
    width: 70%;
}
.login-page-bottom-images-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.login-page-bottom-right-first-box,
.login-page-bottom-right-second-box {
    background-color: #FAFAF5;
}

.login-page-bottom img {
    width: 300px;
}
/*.overlay-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
    opacity: .8;
}

.overlay-form label,
.overlay-form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background-color: #ebd1dd;
    border-radius: 8px;
}

.overlay-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
}

.overlay-form input {
    padding-left: 1rem;
}*/

.login-page-bottom-images-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.login-page-bottom-right-first-box,
.login-page-bottom-right-second-box {
    background-color: #FAFAF5;
}

.login-page-bottom img {
    width: 300px;
}

/* PROFILE PAGE STYLES */

.profile-page-img-container {
    position: relative;
    width: 100vw;
    height: 75vh;
}

/* .profile-page-img-container {
    width: 100%;
    height: auto;
} */

.profile-page-middle-images-container {
    display: inline-block;
    justify-content: space-between;
    margin-right: 1rem;
}

.profile-page-middle-images-container img {
    width: 300px;
    margin-left: 2rem;
}

.profile-page-bottom-left-box,
.profile-page-bottom-center-box {
    background-color: #FAFAF5;
}

.profile-page-bottom-left-box p,
.profile-page-bottom-center-box p {
    background-color: #FAFAF5;
    height: 200px;
}

/* SEARCH PAGE STYLES */

.search-page-middle-left-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}