* {
    color: black;
    background-color: #ffffff;
}

/* login page styles */

.login-page-top {
    position: relative;
    display: inline-block;
}

.login-page-top img {
    display: block;
    width: 100vw;
    height: 80vh;
}
    
.overlay-form {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    opacity: .7; 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 15px; 
    text-align: center;
    border-radius: 5%;
}

.login-page-top-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page-bottom-images-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.login-page-bottom-right-first-box,
.login-page-bottom-right-second-box {
    background-color: #FAFAF5;
}

.login-page-bottom img {
    width: 300px;
}

/* profile page styles */

.profile-page-img-container {
    position: relative;
    width: 100%;
}

.profile-page-img-container {
    width: 100%;
    height: auto;
}

.profile-page-middle-images-container {
    display: inline-block;
    justify-content: space-between;
    margin-right: 1rem;
}

.profile-page-middle-images-container img {
    width: 300px;
    margin-left: 2rem;
}

.profile-page-bottom-left-box,
.profile-page-bottom-center-box {
    background-color: #FAFAF5;
}

.profile-page-bottom-left-box p,
.profile-page-bottom-center-box p {
    background-color: #FAFAF5;
    height: 200px;
}